@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 68.75rem;
  --breakpoint-desktop: 80rem;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  margin: 0;
  background-color: #121212;  /* or any shade above */
  color: #f0f0f0;             /* light text to contrast */
  font-family: 'Cinzel';
}