@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import 'flowbite/dist/flowbite.css';
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-mobile: 40rem;
  --breakpoint-tablet: 48rem;
  --breakpoint-laptop: 71.25rem;
  --breakpoint-desktop: 80rem;
}

@layer base {
	* {
		font-family: 'Montserrat', sans-serif;
	}
	
	section {
		@apply w-full h-[90%] flex items-center py-20 tablet:scroll-mt-32 laptop:scroll-mt-36;
	}

	ul{
		@apply list-none p-0 m-0;
	}

	li{
		@apply pl-4;
	}
	li::before{
		content: "•";
		@apply pr-2 text-white;
	}
	ul.list-disc li::before {
		content: none;
	}

	li::before{
		content: "•";
		@apply pr-2 text-white;
	}

	table {
		@apply w-full text-sm text-left text-gray-400 border-collapse;
	}

	td {
		@apply border border-gray-700 px-4 py-2;
	}

	tbody tr {
		background-color: #F9B333;
	}

	[id="paraph"] {
		@apply text-gray-300 text-base tablet:text-lg laptop:text-xl desktop:text-2xl text-center laptop:text-justify leading-relaxed;
	}

	text {
		@apply font-sans;
	}
}

@layer utilities {
  @keyframes fade-in-out {
    0%, 100% {
      opacity: 0;
    }
	50% {
	  opacity: 1;
	}
  }

  .animate-fade-in-out {
    animation: fade-in-out 1.5s ease-in-out;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */

}

body {
  margin: 0;
  background-color: #121212;  /* or any shade above */
  color: #f0f0f0;             /* light text to contrast */
  font-family: 'Montserrat', sans-serif;
}